@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to OceanTech</h1>
    <p>Learn more about our project at <a href="/swagger">Swagger API Documentation</a>.</p>
</div>