<div class="card">
    <div class="card-body">
        <h3>Danh sách Huyện</h3>
        <table id="districtTable" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên</th>
                    <th>Tỉnh</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var district in Model)
                {
                    <tr>
                        <td>@district.Id</td>
                        <td>@district.Name</td>
                        <td>@district.Province.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#districtTable').DataTable({
            "language": {
                "search": "Tìm kiếm:",
                "lengthMenu": "Hiển thị _MENU_ dòng",
                "info": "Hiển thị _START_ đến _END_ trong _TOTAL_ mục",
                "paginate": {
                    "first": "Đầu",
                    "last": "Cuối",
                    "next": "Tiếp",
                    "previous": "Trước"
                }
            }
        });
    });
</script>